@{
    ViewBag.Title = "Account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model SmartLion.Web.Models.AccountModel
<div class="row">
    <h3 class="page-header">
        Account Management
    </h3>
</div>
<div class="row">
    @using (Html.BeginForm("Index", "Account", FormMethod.Post, new { @class = "form-horizontal", @role = "form" }))
    {
        <div class="form-group">
            <label class="col-sm-2 control-label">
                Name:</label>
            <div class="col-sm-2">
                @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", @placeholder = "Name" })
                @Html.HiddenFor(model => model.Id)
            </div>
            <div class="col-sm-3">
                @Html.ValidationMessageFor(model => model.UserName)
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">
                Password:</label>
            <div class="col-sm-2">
                @Html.PasswordFor(model => model.Password, new { @class = "form-control", @placeholder = "Password" })
            </div>
            <div class="col-sm-3">
                @Html.ValidationMessageFor(model => model.Password)
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">
                First Name:</label>
            <div class="col-sm-3">
                @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", @placeholder = "First Name" })
            </div>
            <div class="col-sm-3">
                @Html.ValidationMessageFor(model => model.FirstName)
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">
                Middle Name:</label>
            <div class="col-sm-3">
                @Html.TextBoxFor(model => model.MiddleName, new { @class = "form-control", @placeholder = "Middle Name" })
            </div>
            <div class="col-sm-3">
                @Html.ValidationMessageFor(model => model.MiddleName)
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">
                Last Name:</label>
            <div class="col-sm-3">
                @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", @placeholder = "Last Name" })
            </div>
            <div class="col-sm-3">
                @Html.ValidationMessageFor(model => model.LastName)
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-5">
                <input type="submit" name="actionType" value="Save" class="btn btn-primary"/>
                <input type="submit" name="actionType" value="Cancel" class="btn btn-default"/>
            </div>
        </div>
    }
</div>
