@{
    ViewBag.Title = "Candidate : Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model SmartLion.Web.Models.CandidateModel
<div class="row">
    <h3 class="page-header">
        Candidate Management
    </h3>
</div>
<div class="row">
    @using (Html.BeginForm("Create", "Candidate", FormMethod.Post, new { @class = "form-horizontal", @role = "form" }))
    {
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    Date:</label>
                <div class="col-sm-3">
                    @Html.TextBoxFor(model => model.Date, new { @class = "form-control datepicker", @placeholder = "Date" })
                </div>
                <div class="col-sm-3">
                    @Html.ValidationMessageFor(model => model.Date)
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    First Name:</label>
                <div class="col-sm-5">
                    @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", @placeholder = "First Name" })
                </div>
                <div class="col-sm-5">
                    @Html.ValidationMessageFor(model => model.FirstName)
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    Middle Name:</label>
                <div class="col-sm-5">
                    @Html.TextBoxFor(model => model.MiddleName, new { @class = "form-control", @placeholder = "Middle Name" })
                </div>
                <div class="col-sm-5">
                    @Html.ValidationMessageFor(model => model.MiddleName)
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    Last Name:</label>
                <div class="col-sm-5">
                    @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", @placeholder = "Last Name" })
                </div>
                <div class="col-sm-5">
                    @Html.ValidationMessageFor(model => model.LastName)
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    Contact No:</label>
                <div class="col-sm-5">
                    @Html.TextBoxFor(model => model.ContactNo, new { @class = "form-control", @placeholder = "Contact No" })
                </div>
                <div class="col-sm-5">
                    @Html.ValidationMessageFor(model => model.ContactNo)
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">
                    Interview Date:</label>
                <div class="col-sm-3">
                    @Html.TextBoxFor(model => model.InterviewDate, new { @class = "form-control datepicker", @placeholder = "Interview Date" })
                </div>
                <div class="col-sm-3">
                    @Html.ValidationMessageFor(model => model.InterviewDate)
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    Job:</label>
                <div class="col-sm-5">
                    @Html.DropDownListFor(model => model.JobId, Model.Jobs, "-- Select --", new { @class = "form-control" })
                </div>
                <div class="col-sm-5">
                    @Html.ValidationMessageFor(model => model.JobId)
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    Company:</label>
                <div class="col-sm-5">
                    @Html.DropDownListFor(model => model.CompanyId, Model.Companies, "-- Select --", new { @class = "form-control" })
                </div>
                <div class="col-sm-5">
                    @Html.ValidationMessageFor(model => model.CompanyId)
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    Reference:</label>
                <div class="col-sm-5">
                    @Html.DropDownListFor(model => model.ReferenceId, Model.References, "-- Select --", new { @class = "form-control" })
                </div>
                <div class="col-sm-5">
                    @Html.ValidationMessageFor(model => model.ReferenceId)
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    Salary:</label>
                <div class="col-sm-5">
                    @Html.TextBoxFor(model => model.Salary, new { @class = "form-control", @placeholder = "Salary" })
                </div>
                <div class="col-sm-5">
                    @Html.ValidationMessageFor(model => model.Salary)
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    Joining Date:</label>
                <div class="col-sm-5">
                    @Html.TextBoxFor(model => model.JoiningDate, new { @class = "form-control datepicker", @placeholder = "Joining Date" })
                </div>
                <div class="col-sm-5">
                    @Html.ValidationMessageFor(model => model.JoiningDate)
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    Status:</label>
                <div class="col-sm-5">
                    @Html.DropDownListFor(model => model.StatusId, Model.Status, "-- Select --", new { @class = "form-control" })
                </div>
                <div class="col-sm-5">
                    @Html.ValidationMessageFor(model => model.StatusId)
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-5">
                    <input type="submit" name="actionType" value="Save" class="btn btn-primary"></input>
                    <a href="@Url.Action("Index", "Candidate")" class="btn btn-default" role="button">Cancel</a>
                </div>
            </div>
        </div>
    }
</div>
<script type="text/javascript">
    $(function () { // will trigger when the document is ready
        $('.datepicker').datepicker(); //Initialise any date pickers
    });
</script>
