@{
    ViewBag.Title = "Reference : Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model SmartLion.Web.Models.ReferenceModel
<div class="row">
    <h3 class="page-header">
        Reference Management
    </h3>
</div>
<div class="row">
    @using (Html.BeginForm("Create", "Reference", FormMethod.Post, new { @class = "form-horizontal", @role = "form" }))
    {
         <div class="form-group">
            <label class="col-sm-2 control-label">
                Reference Name:</label>
            <div class="col-sm-2">
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @placeholder = "Reference Name" })
            </div>
            <div class="col-sm-3">
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">
                Address:</label>
            <div class="col-sm-2">
                @Html.TextBoxFor(model => model.Address, new { @class = "form-control", @placeholder = "Address" })
            </div>
            <div class="col-sm-3">
                @Html.ValidationMessageFor(model => model.Address)
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">
                Contact No:</label>
            <div class="col-sm-2">
                @Html.TextBoxFor(model => model.ContactNo, new { @class = "form-control", @placeholder = "Contact No" })
            </div>
            <div class="col-sm-3">
                @Html.ValidationMessageFor(model => model.ContactNo)
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">
                Type:</label>
            <div class="col-sm-2">
                @Html.TextBoxFor(model => model.Type, new { @class = "form-control", @placeholder = "Email" })
            </div>
            <div class="col-sm-3">
                @Html.ValidationMessageFor(model => model.Type)
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-5">
                <input type="submit" name="actionType" value="Save" class="btn btn-primary"></input>
                <input type="submit" name="actionType" value="Cancel" class="btn btn-default"></input>
            </div>
        </div>
    }
</div>

