@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model SmartLion.Web.Models.IndexReferenceModel
<div class="row">
    <h3 class="page-header">
        Reference Management
    </h3>
</div>
<!-- /input-group -->
<div class="row">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
            <div class="row">
                <div class="col-lg-9">
                    <ul class="nav nav-pills">
                        <li><a href="@Url.Action("Create", "Reference")"><span class="glyphicon glyphicon-plus-sign">
                        </span></a></li>
                        <li class="refresh"><a href="#"><span class="glyphicon glyphicon-refresh"></span></a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <div class="input-group input-group-sm">
                        <input type="text" class="form-control" id="search" />
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" id="btnsearch">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                    <!-- /input-group -->
                </div>
                <!-- /.col-lg-6 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- Table -->
        <table class="table">
            <thead>
                <tr>
                    <th>
                    </th>
                    <th>
                        Reference Name
                    </th>
                    <th>
                        Address
                    </th>
                    <th>
                        Contact No
                    </th>
                    <th>
                        Type
                    </th>
                    <th>
                    </th>
                </tr>
            </thead>
            <tbody id="grid">
                @foreach (var Reference in Model.ReferenceList.Result)
                {
                    <tr>
                        <td>
                            <a href="@Url.Action("Edit", "Reference", new { Id = Reference.Id })"><span class="glyphicon glyphicon-edit">
                            </span></a>
                        </td>
                        <td>
                            @Reference.Name
                        </td>
                        <td>
                            @Reference.Address
                        </td>
                        <td>
                            @Reference.ContactNo
                        </td>
                        <td>
                            @Reference.Type
                        </td>
                        <td>
                            <a href="#" class="delete" param="@Reference.Id"><span class="glyphicon glyphicon-remove">
                            </span></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    @if (Model.ReferenceList.TotalPages > 0)
    {
        <ul class="pagination">
            <li><a href="#" class="previous" first-index="1" total-pages="@Model.ReferenceList.TotalPages">
                &laquo;</a></li>
            @for (int i = 1; i <= ((Model.ReferenceList.TotalPages > 10) ? 10 : Model.ReferenceList.TotalPages); i++)
            {
                if (i == 1)
                {
                <li class="active"><span>@i<span class="sr-only">(current)</span></span></li>   
                    Model.ReferenceList.LastIndex = @i;
                }
                else
                {
                <li><a href="#" class="index">@i</a></li>   
                    Model.ReferenceList.LastIndex = @i;
                }
            }
            <li><a href="#" class="next" last-index="@Model.ReferenceList.LastIndex" >&raquo;</a></li>
        </ul>
    }
</div>
<script type="text/javascript">
    $('.refresh').on('click', 'a', function (e) {
        var url = '/Reference/List?PageIndex=1';
        $("#search").val("")
        $.get(url, function (data) {
            var htmlresponse = '';
            var htmlpagination = '';
            var firstindex = parseInt($(".previous").attr("first-index"));
            var lastindex = parseInt($(".next").attr("last-index"));
            var totalpages = parseInt($(".previous").attr("total-pages"));

            $.each(data.Result, function (i, Reference) {
                htmlresponse += '<tr>';
                htmlresponse += '<td><a href="/Reference/Edit/' + Reference.Id + '"><span class="glyphicon glyphicon-edit"></span></a></td>';
                htmlresponse += '<td>' + Reference.Name + '</td>';
                htmlresponse += '<td>' + Reference.Address + '</td>';
                htmlresponse += '<td>' + Reference.ContactNo + '</td>';
                htmlresponse += '<td>' + Reference.Type + '</td>';
                htmlresponse += '<td><a href="#" class="delete" param="' + Reference.Id + '"><span class="glyphicon glyphicon-remove"></span></a></td>';
                htmlresponse += '</tr>';
            });
            $(".table #grid").html(htmlresponse);
            htmlpagination += '<li><a href="#" class="previous" first-index="1" total-pages="' + data.TotalPages + '">&laquo;</a></li>';
            for (var i = 1; i <= (data.TotalPages > 10 ? 10 : data.TotalPages); i++) {
                if (i == 1) {
                    htmlpagination += '<li class="active"><span>' + i + '<span class="sr-only">(current)</span></span></li>';
                }
                else {
                    htmlpagination += '<li><a href="#" class="index">' + i + '</a></li>';
                }
                lastindex = i;
            }
            htmlpagination += '<li><a href="#" class="next" last-index="' + lastindex + '">&raquo;</a></li>';
            $(".pagination").html(htmlpagination);
        });
        e.preventDefault();
        return false;
    });

    $("#btnsearch").on('click', function (e) {
        var url = '/Reference/List?PageIndex=1';

        if ($("#search").val().length > 0) {
            url += '&Search=' + encodeURIComponent($("#search").val());
        }

        $.get(url, function (data) {
            var htmlresponse = '';
            var htmlpagination = '';
            var firstindex = parseInt($(".previous").attr("first-index"));
            var lastindex = parseInt($(".next").attr("last-index"));
            var totalpages = parseInt($(".previous").attr("total-pages"));

            $.each(data.Result, function (i, Reference) {
                htmlresponse += '<tr>';
                htmlresponse += '<td><a href="/Reference/Edit/' + Reference.Id + '"><span class="glyphicon glyphicon-edit"></span></a></td>';
                htmlresponse += '<td>' + Reference.Name + '</td>';
                htmlresponse += '<td>' + Reference.Address + '</td>';
                htmlresponse += '<td>' + Reference.ContactNo + '</td>';
                htmlresponse += '<td>' + Reference.Type + '</td>';
                htmlresponse += '<td><a href="#" class="delete" param="' + Reference.Id + '"><span class="glyphicon glyphicon-remove"></span></a></td>';
                htmlresponse += '</tr>';
            });
            $(".table #grid").html(htmlresponse);
            htmlpagination += '<li><a href="#" class="previous" first-index="1" total-pages="' + data.TotalPages + '">&laquo;</a></li>';
            for (var i = 1; i <= (data.TotalPages > 10 ? 10 : data.TotalPages); i++) {
                if (i == 1) {
                    htmlpagination += '<li class="active"><span>' + i + '<span class="sr-only">(current)</span></span></li>';
                }
                else {
                    htmlpagination += '<li><a href="#" class="index">' + i + '</a></li>';
                }
                lastindex = i;
            }
            htmlpagination += '<li><a href="#" class="next" last-index="' + lastindex + '">&raquo;</a></li>';
            $(".pagination").html(htmlpagination);
        });
    });

    $('.pagination').on('click', '.previous', function (e) {
        var htmlpagination = '';
        var firstindex = (parseInt($(".previous").attr("first-index")) - 10);
        var lastindex;
        var totalpages = parseInt($(".previous").attr("total-pages"));
        if (firstindex > 0) {

            htmlpagination += '<li><a href="#" class="previous" first-index="' + firstindex + '" total-pages="' + totalpages + '">&laquo;</a></li>';
            for (var i = firstindex; i < firstindex + 10; i++) {
                htmlpagination += '<li><a href="#" class="index">' + i + '</a></li>';
                lastindex = i;
            }

            htmlpagination += '<li><a href="#" class="next" last-index="' + lastindex + '">&raquo;</a></li>';

            $(".pagination").html(htmlpagination);
        }
        e.preventDefault();
        return false;
    });

    $('.pagination').on('click', '.index', function (e) {
        var url = '/Reference/List?PageIndex=' + $(this).text();
        var pageIndex = parseInt($(this).text());

        if ($("#search").val().length > 0) {
            url += '&Search=' + encodeURIComponent($("#search").val());
        }

        $.get(url, function (data) {
            var htmlresponse = '';
            var htmlpagination = '';
            var firstindex = parseInt($(".previous").attr("first-index"));
            var lastindex = parseInt($(".next").attr("last-index"));
            var totalpages = parseInt($(".previous").attr("total-pages"));

            $.each(data.Result, function (i, Reference) {
                htmlresponse += '<tr>';
                htmlresponse += '<td><a href="/Reference/Edit/' + Reference.Id + '"><span class="glyphicon glyphicon-edit"></span></a></td>';
                htmlresponse += '<td>' + Reference.Name + '</td>';
                htmlresponse += '<td>' + Reference.Address + '</td>';
                htmlresponse += '<td>' + Reference.ContactNo + '</td>';
                htmlresponse += '<td>' + Reference.Type + '</td>';
                htmlresponse += '<td><a href="#" class="delete" param="' + Reference.Id + '"><span class="glyphicon glyphicon-remove"></span></a></td>';
                htmlresponse += '</tr>';
            });
            $(".table #grid").html(htmlresponse);
            if (data.TotalPages == totalpages) {
                htmlpagination += '<li><a href="#" class="previous" first-index="' + firstindex + '" total-pages="' + data.TotalPages + '">&laquo;</a></li>';
                for (var i = firstindex; i <= lastindex; i++) {
                    if (i == pageIndex) {
                        htmlpagination += '<li class="active"><span>' + i + '<span class="sr-only">(current)</span></span></li>';
                    }
                    else {
                        htmlpagination += '<li><a href="#" class="index">' + i + '</a></li>';
                    }
                }
                htmlpagination += '<li><a href="#" class="next" last-index="' + lastindex + '">&raquo;</a></li>';
            }
            else {
                htmlpagination += '<li><a href="#" class="previous" first-index="1" total-pages="' + data.TotalPages + '">&laquo;</a></li>';
                for (var i = 1; i <= (data.TotalPages > 10 ? 10 : data.TotalPages); i++) {
                    if (i == 1) {
                        htmlpagination += '<li class="active"><span>' + i + '<span class="sr-only">(current)</span></span></li>';
                    }
                    else {
                        htmlpagination += '<li><a href="#" class="index">' + i + '</a></li>';
                    }
                    lastindex = i;
                }
                htmlpagination += '<li><a href="#" class="next" last-index="' + lastindex + '">&raquo;</a></li>';
            }
            $(".pagination").html(htmlpagination);
        });

        e.preventDefault();
        return false;
    });

    $('.pagination').on('click', '.next', function (e) {

        var totalpages = parseInt($(".previous").attr("total-pages"));
        if (parseInt($(".next").attr("last-index")) < totalpages) {
            var htmlpagination = '';
            var firstindex = (parseInt($(".next").attr("last-index")) + 1);
            var lastindex;

            htmlpagination += '<li><a href="#" class="previous" first-index="' + firstindex + '" total-pages="' + totalpages + '">&laquo;</a></li>';
            for (var i = (parseInt($(".next").attr("last-index")) + 1); i <= ((totalpages > ((parseInt($(".next").attr("last-index"))) + 10)) ? (parseInt($(".next").attr("last-index")) + 10) : totalpages); i++) {
                htmlpagination += '<li><a href="#" class="index">' + i + '</a></li>';
                lastindex = i;
            }
            htmlpagination += '<li><a href="#" class="next" last-index="' + lastindex + '">&raquo;</a></li>';

            $(".pagination").html(htmlpagination);
        }
        e.preventDefault();
        return false;
    });

    $("#grid").on('click', '.delete', function (e) {
        if (confirm("Are you sure,you want to delete?")) {
            $.ajax({
                type: 'POST',
                url: '/Reference/Delete',
                dataType: 'json',
                data: { Id: parseInt($(this).attr("param")) },
                success: function () {
                    $('.refresh a').click();
                },
                error: function () {
                    alert('error');
                }
            });
        }
        e.preventDefault();
        return false;
    });
</script>

