@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model SmartLion.Web.Models.IndexCompanyModel
<div class="row">
    <h3 class="page-header">
        Company Management
    </h3>
</div>
<!-- /input-group -->
<div class="row">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
            <div class="row">
                <div class="col-lg-9">
                    <ul class="nav nav-pills">
                        <li><a href="@Url.Action("Create", "Company")"><span class="glyphicon glyphicon-plus-sign">
                        </span></a></li>
                        <li class="refresh"><a href="#"><span class="glyphicon glyphicon-refresh"></span></a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <div class="input-group input-group-sm">
                        <input type="text" class="form-control" id="search" />
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" id="btnsearch">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                    <!-- /input-group -->
                </div>
                <!-- /.col-lg-6 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- Table -->
        <table class="table">
            <thead>
                <tr>
                    <th>
                    </th>
                    <th>
                        Company Name
                    </th>
                    <th>
                        Address
                    </th>
                    <th>
                        Contact No
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                    </th>
                </tr>
            </thead>
            <tbody id="grid">
                @foreach (var company in Model.CompanyList.Result)
                {
                    <tr>
                        <td>
                            <a href="@Url.Action("Edit", "Company", new { Id = company.Id })"><span class="glyphicon glyphicon-edit">
                            </span></a>
                        </td>
                        <td>
                            @company.Name
                        </td>
                        <td>
                            @company.Address
                        </td>
                        <td>
                            @company.ContactNo
                        </td>
                        <td>
                            @company.Email
                        </td>
                        <td>
                            <a href="#" class="delete" param="@company.Id"><span class="glyphicon glyphicon-remove">
                            </span></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    @if (Model.CompanyList.TotalPages > 0)
    {
        <ul class="pagination">
            <li><a href="#" class="previous" first-index="1" total-pages="@Model.CompanyList.TotalPages">
                &laquo;</a></li>
            @for (int i = 1; i <= ((Model.CompanyList.TotalPages > 10) ? 10 : Model.CompanyList.TotalPages); i++)
            {
                if (i == 1)
                {
                <li class="active"><span>@i<span class="sr-only">(current)</span></span></li>   
                    Model.CompanyList.LastIndex = @i;
                }
                else
                {
                <li><a href="#" class="index">@i</a></li>   
                    Model.CompanyList.LastIndex = @i;
                }
            }
            <li><a href="#" class="next" last-index="@Model.CompanyList.LastIndex" >&raquo;</a></li>
        </ul>
    }
</div>
